.masonry__layout {
  display: flex;
  height: 70vh;
  width: 80%;
  gap: 10px;
  margin: auto;

  @include tablet {
    flex-direction: row;
    height: auto;
    width: 100%;
  }

  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .col-l {
    flex: 2;
  }

  .row {
    flex: 1;
    display: flex;
    gap: 10px;
    position: relative;
    overflow: hidden;

    button {
      font-size: 10px;
      font-weight: 700;
      position: absolute;
      min-width: 100px;
      width: fit-content;
      height: 35px;
      padding: 10px;
      bottom: 10px;
      right: 10px;
      margin: auto;
      cursor: pointer;
      border: none;
      background: $txt-white;
      color: $txt-main-color;
      text-transform: uppercase;

      &:hover {
        color: $main-color;
      }

      @include tablet {
        left: 4px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
